1.  How many car models are there?

In [1]:
import pandas

In [2]:
import pandas as pd

In [38]:
df=pd.read_csv("\\Users\ADMIN\Downloads\car_prices.csv")

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2820\3803379882.py:1: SyntaxWarning: invalid escape sequence '\A'
  df=pd.read_csv("\\Users\ADMIN\Downloads\car_prices.csv")

In [41]:
car_prices=pd.read_csv("\\Users\ADMIN\Downloads\car_prices.csv")

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2820\2616298397.py:1: SyntaxWarning: invalid escape sequence '\A'
  car_prices=pd.read_csv("\\Users\ADMIN\Downloads\car_prices.csv")

In [9]:
print(car_prices.dtypes)

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr             float64
sellingprice    float64
saledate         object
dtype: object

How many car models are there?

In [10]:
unique_models = car_prices['model'].nunique()

print(f'There are {unique_models} unique car models in the dataset.')

There are 973 unique car models in the dataset.

2. which seller has sold the most cars?

In [11]:
top_seller = car_prices['seller'].value_counts().idxmax()
top_seller_count = car_prices['seller'].value_counts().max()

print(f'The seller with the most car sales is: {top_seller} with {top_seller_count} cars sold.')

The seller with the most car sales is: nissan-infiniti lt with 19693 cars sold.

3. Which is the most expensive car?

In [14]:
most_expensive_car = car_prices.loc[car_prices['sellingprice'].idxmax()]

print(f"The most expensive car is:")
print(most_expensive_car)

The most expensive car is:
year                                               2014
make                                               Ford
model                                            Escape
trim                                           Titanium
body                                                SUV
transmission                                  automatic
vin                                   1fmcu9j98eua23833
state                                                mo
condition                                          43.0
odometer                                        27802.0
color                                             green
interior                                            tan
seller                      ford-lincoln dealer program
mmr                                             22800.0
sellingprice                                   230000.0
saledate        Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
Name: 344905, dtype: object

4.print out the NAN in the car conditions column

In [19]:
nan_condition = car_prices[car_prices['condition'].isna()]

print("Rows with NaN values in 'condition' column:")
print(nan_condition)

Rows with NaN values in 'condition' column:
        year        make        model                    trim         body  \
14      2014   Chevrolet        Cruze                     2LT        Sedan
16      2015     Hyundai       Sonata                      SE        Sedan
22      2014   Chevrolet       Camaro                      LT  Convertible
25      2015     Hyundai       Sonata                      SE        Sedan
28      2014         BMW           X5               sDrive35i          SUV
...      ...         ...          ...                     ...          ...
529622  2015  Volkswagen        Jetta  SE PZEV w/Connectivity  Navitgation
541568  2005   Chevrolet  Astro Cargo                    Base      minivan
548784  2015  Volkswagen        Jetta  SE PZEV w/Connectivity  Navitgation
551222  2015  Volkswagen        Jetta  SE PZEV w/Connectivity  Navitgation
554710  2015  Volkswagen        Jetta  SE PZEV w/Connectivity  Navitgation

       transmission                vin              state  condition  \
14        automatic  1g1pe5sbxe7120097                 ca        NaN
16        automatic  5npe24af4fh001562                 ca        NaN
22        automatic  2g1fb3d31e9134662                 ca        NaN
25        automatic  5npe24af4fh038482                 ca        NaN
28        automatic  5uxkr2c52e0h33130                 ca        NaN
...             ...                ...                ...        ...
529622        sedan          automatic  3vwd17aj5fm225953        NaN
541568          NaN  1gcdm19x05b120470                 on        NaN
548784        sedan          automatic  3vwd17aj7fm326640        NaN
551222        sedan                NaN  3vwd17aj8fm239622        NaN
554710        sedan          automatic  3vwd17aj2fm261566        NaN

        odometer   color interior  \
14       15686.0    blue    black
16        8311.0     red        â€”
22       33450.0   black    black
25        9281.0  silver     gray
28       11278.0    gray    black
...          ...     ...      ...
529622      41.0   18561    black
541568  126798.0     red     gray
548784       2.0    2846     blue
551222       2.0    9562   silver
554710      48.0    5001     blue

                                                   seller      mmr  \
14                                   avis rac/san leandro  13900.0
16                                               avis tra  15200.0
22                                   avis rac/san leandro  20100.0
25      enterprise vehicle exchange / tra / rental / t...  15150.0
28                                   avis rac/san leandro  50400.0
...                                                   ...      ...
529622                                              black      NaN
541568                                 jim pattison lease   4925.0
548784                                              black      NaN
551222                                              black      NaN
554710                                               gray      NaN

        sellingprice                                 saledate
14           10600.0  Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
16            4200.0  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
22           14700.0  Tue Dec 16 2014 12:00:00 GMT-0800 (PST)
25            8500.0  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
28           34000.0  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
...              ...                                      ...
529622       13200.0                                    13100
541568        3300.0  Tue Jun 16 2015 03:00:00 GMT-0700 (PDT)
548784       13600.0                                     7500
551222       13200.0                                    12100
554710       13400.0                                    13600

[11820 rows x 16 columns]

5.what is the date difference between the first BMW sale and the last BMW sale?

In [20]:
bmw_sales = car_prices[car_prices['model'] == 'BMW']

bmw_sales['saledate'] = pd.to_datetime(bmw_sales['saledate'])

date_diff = bmw_sales['saledate'].max() - bmw_sales['saledate'].min()

print(f"The date difference between the first and last BMW sale is: {date_diff}")

The date difference between the first and last BMW sale is: NaT

dates of the first and last sale of BMW

In [27]:
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
bmw_sales = df[df['make'] == 'BMW']

first_bmw_sale_date = bmw_sales['saledate'].min()
last_bmw_sale_date = bmw_sales['saledate'].max()

print(f"The first BMW sale date is: {first_bmw_sale_date}")
print(f"The last BMW sale date is: {last_bmw_sale_date}")

The first BMW sale date is: 2014-01-02 08:29:00+08:00
The last BMW sale date is: 2015-03-06 07:00:00+08:00

6. Which car has the most unique interior?

In [28]:

unique_interiors = car_prices.groupby('model')['interior'].nunique()

most_unique_interior_car = unique_interiors.idxmax()
most_unique_interior_count = unique_interiors.max()

print(f"The car with the most unique interiors is: {most_unique_interior_car} with {most_unique_interior_count} unique interiors.")

The car with the most unique interiors is: 3 Series with 16 unique interiors.

7. which year had the most car sales?

In [31]:

car_prices['saledate'] = pd.to_datetime(car_prices['saledate'])

car_prices['year'] = car_prices['saledate'].dt.year

yearly_sales = car_prices['year'].value_counts()

most_sales_year = yearly_sales.idxmax()
most_sales_count = yearly_sales.max()

print(f"The year with the most car sales is: {most_sales_year} with {most_sales_count} sales.")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2820\2564776455.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  car_prices['saledate'] = pd.to_datetime(car_prices['saledate'])

DateParseError: year 16500 is out of range: 16500, at position 2896

8. which car has travelled the most distance?(use odometer)

In [32]:
max_distance_car = car_prices.loc[car_prices['odometer'].idxmax()]

print("The car that has traveled the most distance:")
print(max_distance_car)

The car that has traveled the most distance:
year                                               2013
make                                            Hyundai
model                                     Elantra Coupe
trim                                                 GS
body                                      Elantra Coupe
transmission                                  automatic
vin                                   kmhdh6ae8du017422
state                                                ca
condition                                           1.0
odometer                                       999999.0
color                                              blue
interior                                           gray
seller                            hyundai motor finance
mmr                                              8025.0
sellingprice                                     2500.0
saledate        Tue Jan 27 2015 04:00:00 GMT-0800 (PST)
Name: 275, dtype: object

9. which is the most popular car?

In [33]:
most_popular_car = car_prices['model'].mode()[0]

print("The most popular car model is:", most_popular_car)

The most popular car model is: Altima

10. which seller sold the most expensive SUV?

In [36]:

suv_data = car_prices[car_prices['body'].str.contains('SUV', na=False, case=False)]

most_expensive_suv = suv_data.loc[suv_data['sellingprice'].idxmax()]

seller_most_expensive_suv = most_expensive_suv['seller']

print("The seller who sold the most expensive SUV is:", seller_most_expensive_suv)

The seller who sold the most expensive SUV is: ford-lincoln dealer program